* {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    /* color palette */
    --primarycolor: #272736;
    --secondarycolor: #161616;
    --complementarycolor: #8992e7;
    --fontcolor: #fff;
    /* grid height relative to view width */
    --gridheight: 30vw;
    /* easily tweek padding */
    --sectionpadding: 10vw;
    /* used for transitions and site flow */
    --globaltransition: 300ms ease-out;
}

/* site background */
body {
    background-color: #1f1f1f;
}

/* make sure transitions come back smoothish / general site flow */
a,
header,
header h1,
header li,
.firstwork h2,
.secondarywork h2,
.firstwork img,
.secondarywork img {
    transition: var(--globaltransition);
}

/* link style */
a {
    text-decoration: none;
    color: var(--fontcolor);
}

/* link hover */
a:hover {
    color: var(--complementarycolor);
    font-size: 110%;
    transition: var(--globaltransition);
}

header {
    height: 100px;
    background-color: var(--primarycolor);
}

/* name top left */
header h1 {
    position: relative;
    /* without this the margin from my name breaks my links for some reason! */
    display: inline;
    font-size: 42px;
    color: var(--fontcolor);
    top: 30%;
    left: 40px;
}

/* Hack */
header span {
    color: var(--complementarycolor);
}

/* flex the ul inside nav */
header ul {
    display: flex;
    justify-content: end;
}

/* nav links size and padding */
nav li {
    font-size: 28px;
    padding-right: 40px;
}

/* headings for the aboutme and mywork sections */
.sectionheading {
    position: relative;
    text-align: center;
    padding: calc(var(--sectionpadding)/6);
    font-size: 2vw;
    color: var(--complementarycolor);
    border-top: 3px solid var(--complementarycolor);
    border-bottom: 3px solid var(--complementarycolor);
}

/* about me stays main focus on fullscreen due to gridheight variable being relative to view width. happy with the result DONT CHANGE */
#aboutme {
    display: grid;
    gap: calc(var(--sectionpadding)/2);
    padding: var(--sectionpadding);
    /* 6fr is probably unnecessary although works as intended throughout */
    grid-template-columns: 1fr 6fr;
    grid-template-rows: var(--gridheight);
}

/* weird way to target the paragraph block so the height scales correctly and my secondarycolor variable works */
#aboutme section:nth-child(2) {
    background-color: var(--secondarycolor);
    height: 100%;
}

/* my face */
#aboutme img {
    position: relative;
    /* this is necessary for portrait but doesn't hurt here */
    display: block;
    height: 100%;
}

/* about me paragraph */
#aboutme p {
    color: var(--fontcolor);
    font-size: 2vw;
    padding: 5%;
    line-height: 120%;
}

#mywork {
    padding: 0 var(--sectionpadding);
}

/* primarily displayed work card */
.firstwork {
    height: var(--gridheight);
}

/* secondary work cards */
.secondarywork {
    display: grid;
    gap: calc(var(--sectionpadding)/4);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, calc(var(--gridheight)/1.5));
    padding: calc(var(--sectionpadding)/4) 0;
}

/* hides any cutoff from my pictures */
.firstwork,
.secondarywork,
.secondarywork section {
    position: relative;
    overflow: hidden;
}

/* name of project in work cards */
.firstwork h2,
.secondarywork h2 {
    z-index: 1;
    background: linear-gradient(90deg, #ffffff00, #00000044);
    backdrop-filter: blur(2px);
    position: absolute;
    font-size: 2.8vw;
    color: var(--complementarycolor);
    padding: 10px;
    bottom: 5%;
    right: 0;
}

.firstwork:hover h2,
.secondarywork section:hover h2 {
    bottom: 5%;
    font-size: 2vw;
    right: 0;
    transition: var(--globaltransition);
}

/* images of website I made inside mywork cards */
.firstwork img,
.secondarywork img {
    position: absolute;
    width: 100%;
    top: 0;
    scale: 1.1;
    filter: blur(6px) grayscale(1) brightness(60%);
}

.firstwork:hover img,
.secondarywork section:hover img {
    scale: 1;
    transition: var(--globaltransition);
    filter: blur(0px) grayscale(0) brightness(100%);
}

/* footer contains my contact info */
footer {
    height: 200px;
    width: 100%;
    background-color: var(--primarycolor);
    box-shadow: inset 0 -20px var(--complementarycolor);
}

footer h2,
footer h3 {
    color: var(--fontcolor);
}

/* displays contact in a grid */
#contact {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 100px;
    padding: 50px 60px 0 80px;
}

/* displays my email number and github in flex */
#contact section {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* "Contact me" size */
#contact h2 {
    font-size: 3.6vw;
}

/* contact info size */
#contact a,
#contact h3 {
    font-size: 1.6vw;
    padding: 0 4%;
}

@media screen and (orientation:portrait) {

    /* reduce nav links by a little */
    nav li {
        font-size: 24px;
        padding-right: 30px;
    }

    /* divide variable sectionpadding by 2 so aboutme and work scale better to portrait */
    #aboutme,
    #mywork {
        padding: calc(var(--sectionpadding)/2);
    }

    /* scales section heading font to portrait */
    .sectionheading {
        font-size: 4vw;
    }

    /* display aboutme vertical */
    #aboutme {
        grid-template-columns: 1fr;
        grid-template-rows: 400px;
    }

    /* centers my face while in portrait */
    #aboutme img {
        margin: 0 auto;
    }

    /* aboutme legible font size for portrait */
    #aboutme p {
        font-size: 24px;
    }

    /* since all work is displayed one after another this multiplies my first works variable gridheight by 2 so it is the center of attention */
    .firstwork {
        height: calc(var(--gridheight)*2);
    }

    /* display work section vertical */
    .secondarywork {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, calc(var(--gridheight)*1.5));
    }

    /* better scaling for work card titles while in portrait */
    .firstwork h2,
    .secondarywork h2 {
        font-size: 6vw;
    }

    .firstwork:hover h2,
    .secondarywork section:hover h2 {
        font-size: 4vw;
    }

    /* display contact vertical */
    #contact {
        grid-template-columns: 1fr;
        padding: 10px 0 0 0;
    }

    /* "Contact me" size */
    #contact h2 {
        font-size: 5vw;
    }

    /* contact info size */
    #contact a,
    #contact h3 {
        font-size: 2.5vw;
        padding: 1% 4%;
    }
}

@media screen and (max-width: 768px) {

    /* reduce header */
    header {
        height: 80px;
    }

    /* center my name above links */
    header h1 {
        position: absolute;
        font-size: 28px;
        top: 10px;
        left: calc(50% - 98px);
    }

    /* nav links go center */
    header ul {
        justify-content: center;
        height: 70px;
        align-items: flex-end;
    }

    /* reduce nav links again */
    nav li {
        font-size: 20px;
        padding: 0 25px;
    }

    /* "Contact me" size */
    #contact h2 {
        font-size: 6vw;
    }

    /* contact info size */
    #contact a,
    #contact h3 {
        font-size: 3.5vw;
        padding: 1% 3%;
    }
}