* {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    /* color pallet */
    --primarycolor: #202f3a;
    --secondarycolor: #383838;
    --complementarycolor: #8992e7;
    /* grid height relative to view width */
    --gridheight: 30vw;
    --sectionpadding: 80px;
    --globalborder: 8px solid #161616;
}

body {
    background-color: #1f1f1f;
}

/* To make sure my transitions come back smoothish */
a,
.firstwork h2,
.secondarywork h2,
.firstwork img,
.secondarywork img {
    transition: 0.3s ease-out;
}

/* link style */
a {
    text-decoration: none;
    color: #fff;
}

/* link hover */
a:hover {
    color: var(--complementarycolor);
    font-size: 110%;
    transition: 0.5s;
}

header {
    height: 100px;
    background-color: var(--primarycolor);
}

/* name top left */
header h1 {
    position: relative;
    /* without this the margin from my name breaks my links for some reason! */
    display: inline;
    font-size: 42px;
    color: #fff;
    top: 30%;
    left: 40px;
}

/* Hack */
header span {
    color: var(--complementarycolor);
}

/* flex the ul inside nav makes thing work and stuff */
header ul {
    display: flex;
    justify-content: end;
}

nav li {
    font-size: 28px;
    padding-right: 40px;
}

/* about me stays main focus on landscape due to gridheight variable happy with the turnout DONT CHANGE */
#aboutme {
    display: grid;
    gap: calc(var(--sectionpadding)/2);
    padding: var(--sectionpadding);
    /* 6fr is probably unnecessary although works as intended */
    grid-template-columns: 1fr 6fr;
    grid-template-rows: var(--gridheight);
}

#aboutme img {
    position: relative;
    height: 100%;
    border: var(--globalborder);
}

#aboutme p {
    background-color: var(--secondarycolor);
    border: var(--globalborder);
    font-size: 2vw;
    padding: 7%;
    height: 100%;
}

#mywork {
    padding: 0 var(--sectionpadding);
}

.firstwork,
.secondarywork,
.secondarywork section {
    position: relative;
    overflow: hidden;
}

/* name of project in work cards */
.firstwork h2,
.secondarywork h2 {
    background: linear-gradient(90deg, #ffffff00, #4b4b4b);
    backdrop-filter: blur(5px);
    position: absolute;
    height: auto;
    width: auto;
    font-size: 3vw;
    color: var(--complementarycolor);
    padding: 20px;
    bottom: 5%;
    right: 0;
    z-index: 1;
}

.firstwork:hover h2,
.secondarywork section:hover h2 {
    bottom: 5%;
    font-size: 1.6vw;
    right: 0;
    transition: 0.3s;
}

.firstwork img,
.secondarywork img {
    position: absolute;
    width: 100%;
    top: 0;
    scale: 1.1;
    filter: blur(6px) grayscale(1) brightness(60%);
}

.firstwork:hover img,
.secondarywork section:hover img {
    scale: 1;
    transition: 0.3s ease-out;
    filter: blur(0px) grayscale(0) brightness(100%);
}

/* this is to fix some positioning of 4th child image */
.secondarywork section:nth-child(4) img {
    top: -55%;
}

.firstwork {
    height: var(--gridheight);
}

.secondarywork {
    display: grid;
    gap: calc(var(--sectionpadding)/2);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, var(--gridheight));
    padding: calc(var(--sectionpadding)/2) 0;
}

.firstwork,
.secondarywork section {
    border: var(--globalborder);
    background-color: var(--secondarycolor);
}

footer {
    height: 200px;
    width: 100%;
    background-color: var(--primarycolor);
}

footer h2,
footer h3 {
    color: #fff;
}

#contact {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 100px;
    padding: 50px 60px 0 80px;
}

#contact section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact h2 {
    font-size: 48px;
}

#contact a,
#contact h3 {
    font-size: 22px;
    padding: 2%;
}

@media screen and (orientation:portrait) {
    nav li {
        font-size: 24px;
        padding-right: 30px;
    }

    #aboutme,
    #mywork {
        padding: calc(var(--sectionpadding)/2);
    }

    #aboutme {
        grid-template-columns: 1fr;
        grid-template-rows: 400px;
    }

    #aboutme img {
        margin-left: calc(50% - 150px);
    }

    .firstwork {
        height: calc(var(--gridheight)*3);
    }

    .secondarywork {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, calc(var(--gridheight)*2));
    }

    #contact {
        grid-template-columns: 1fr;
        padding: 10px 0 0 0;
    }
}

@media screen and (max-width: 768px) {
    header {
        height: 80px;
    }

    header h1 {
        font-size: 30px;
        left: 20px;
    }

    nav li {
        font-size: 20px;
        padding-right: 25px;
    }
}
