* {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --primarycolor: #bdbdbd;
    --secondarycolor: #e7e7e7;
    --complementarycolor: #e49999;
    --myworkgridheight: 400px;
    --sectionpadding: 80px;
}

body {
    background-color: beige;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: var(--complementarycolor);
    font-size: 110%;
    transition: 0.5s;
}

header {
    height: 100px;
    background-color: var(--primarycolor);
}

header h1 {
    position: relative;
    display: inline;
    font-size: 42px;
    color: #fff;
    top: 30%;
    left: 40px;
}

header span {
    color: var(--complementarycolor);
}

header ul {
    display: flex;
    justify-content: end;
}

nav li {
    font-size: 24px;
    padding-right: 40px;
}

#aboutme,
#mywork {
    display: grid;
    gap: 2%;
    padding: 80px;
}

#aboutme {
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 400px;
}

#aboutme img {
    position: relative;
    height: 100%;
    border: 10px solid salmon;
}

#aboutme p {
    border: 10px solid salmon;
    font-size: 20px;
    padding: 7%;
    height: 100%;
}

#mywork {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, var(--myworkgridheight));
    padding-top: 0px;
}

#mywork section {
    background-color: var(--secondarycolor);
}

footer {
    height: 200px;
    width: 100%;
    background-color: var(--primarycolor);
    overflow: hidden;
}

#contact {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 100px;
    gap: 2%;
    padding: 50px 60px 0 80px;
}

#contact section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact h2 {
    font-size: 36px;
}

#contact a,
#contact h3 {
    font-size: 22px;
    padding: 2%;
}

@media screen and (orientation:portrait) {
    #aboutme,
    #mywork {
        padding: calc(var(--sectionpadding)/2);
    }
    #aboutme {
        grid-template-columns: 1fr;
        gap: 10px;
        padding-bottom: 0;
    }
    #aboutme img {
        left: calc(50% - 150px);
    }
    #mywork {
        grid-template-columns: 1fr 1fr;
        padding-bottom: calc(var(--sectionpadding));
        grid-template-rows: repeat(3, var(--myworkgridheight));
    }
    #contact {
        grid-template-columns: 1fr;
        gap: 0%;
        padding: 10px 0 0 0;
    }
    
}

@media screen and (max-width: 768px) {
    header {
        height: 80px;
    }
    header h1 {
        font-size: 30px;
        left: 20px;
    }
    nav li {
        font-size: 20px;
        padding-right: 25px;
    }
    #mywork {
        grid-template-columns: 1fr;
        padding-bottom: calc(var(--sectionpadding)*3);
        grid-template-rows: repeat(6, var(--myworkgridheight));
    }
}
